$header-background-colour: #272936;
$header-text-color: #12ABDB;
$hover-highlite-colour: rgba(60, 60, 60, 0.2);
$list-darker-entry: #ECECEC;
$list-bullets-colour: #0070AD;

h1 {
    text-transform: uppercase;
}

#logo {
    width: 30%;
    max-height: 60px;
}

.input {
    width: 100%;
    border: none;
    cursor: pointer;
    background: none;

    &:hover {
        background-color: $hover-highlite-colour;
    }

    &::placeholder {
        color: lighten(black, 40%);
    }
}

#input-name {
    @extend .input;

    font-size: 2rem;
    color: $header-text-color;

    &::placeholder {
        color: lighten($header-text-color, 40%);
    }
}

#input-position {
    @extend .input;

    font-size: 1.5rem;
    color: black;
}

#header-competences {
    margin-top: 20px;
    color: $header-text-color;
}

#textarea-competences {
    @extend .input;

    font-size: 1.5rem;
    color: black;

    &::placeholder {
        color: lighten(black, 40%);
    }
}

#header-languages {
    color: $header-text-color;
}

#input-languages {
    @extend .input;

    font-size: 1.5rem;
    color: black;

    &::placeholder {
        color: lighten(black, 40%);
    }
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
}

.image-container {
    position: relative;
    margin-bottom: 20px;
}

.input-image {
    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 1 / 1;
        content: '';
        display: inline-block;
        border-radius: 3px;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
    }
}

#picture {
    border-radius: 50%;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    min-height: 300px;
}

.table-header {
    background-color: $header-background-colour;
    color: $header-text-color;
    text-transform: uppercase;
    font-size: 24px;

    th {
        padding: 10px;
    }
}

.column {
    height: 800px;
    padding: 15px;
    border: 0px dotted lightgray;
}

.section {
    width: 99%;
    min-height: 500;
    margin-bottom: 10px;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: left;

    background-color: $header-background-colour;
    color: $header-text-color;
    text-transform: uppercase;

    width: 100%;
    padding: 10px;
}

.list-content {
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
    }
}

.experience-label {
    padding-left: 15px;
}

.list-table {
    .header {
        @extend .list-header;
    }
    
    .content {
        @extend .list-content;

        .column-1 {
            margin-right: 10px;
            height: 100%;
            float: left;
        }

        li {
            .input-list {
                @extend .input;
            }
    
            .textarea-list {
                @extend .input;

                resize: none;
                overflow: hidden;
                cursor: pointer;
            }
        }

        li:last-child {
            color: lightgray;
            
            &::placeholder {
                color: lightgray;
            }

            .input {
                border-bottom: 1px dashed lightgray;
            }
        }

        .button-wrapper {
            background: none;
            border: none;

            width: 100%;
            text-align: left;

            &:hover {
                background-color: $hover-highlite-colour
            }
        }

        .add-entry-button {
            width: 100%;
        }

        ul {
            padding: 5px;
        }

        li:nth-child(2n) {
            background-color: $list-darker-entry;
        }
    }
}

.list-points {
    .header {
        @extend .list-header;
    }
    
    .content {
        @extend .list-content;

        .input-list {
            @extend .input;

            // border-bottom: 1px dotted $list-bullets-colour;
        }

        li:last-child {
            .input-list {
                border-bottom: 1px dashed lightgray;
            }
        }

        li::before {
            content: "\25AA";
            color: $list-bullets-colour;
            font-weight: bold;
            display: inline-block;
            width: 1em; // space
            margin-left: -1em; // space
        }

        li:last-child:before {
            content: "\25AA";
            color: lightgray;
            font-weight: bold;
            display: inline-block;
            width: 1em; // space
            margin-left: -1em; // space
        }
    }
}
