$header-background-colour: #272936;
$header-text-color: #12ABDB;

.table-header {
    background-color: $header-background-colour;
    color: $header-text-color;
    text-transform: uppercase;
    font-size: 24px;

    th {
        padding: 10px;
    }
}

.table-body {
    td:nth-child(1) {
        white-space: nowrap;
    }

    tr:hover {
        
        td {
            background-color: #888888;
        } 
    }

    tr:nth-child(2n) {
        td {
            background-color: #ECECEC;
        } 

        &:hover {
            td {
                background-color: #888888;
            }
        }
    }
}

.table-row {
    z-index: 100;
    &:hover {
        filter: brightness(-300);
    }
}


h1 {
    text-transform: uppercase;
}

.column {
    height: 800px;
    padding: 5px;
    border: 1px dotted lightgray;
}

img {
    width: 70%;
    min-height: 300px;

}

.section {
    width: 100%;
    min-height: 400px;
    margin-bottom: 10px;
}


.list-header {
    display: flex;
    align-items: center;
    justify-content: left;

    background-color: $header-background-colour;
    color: $header-text-color;
    text-transform: uppercase;

    width: 100%;
    padding: 10px;
}

.list-content {
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
    }
}

.list-table {
    .header {
        @extend .list-header;
    }
    
    .content {
        @extend .list-content;

        .column-1 {
            margin-right: 10px;
            height: 100%;
            float: left;
        }

        .button-wrapper {
            background: none;
            border: none;

            width: 100%;
            text-align: left;
        }

        .add-entry-button {
            width: 100%;
        }

        ul {
            padding: 5px;
        }

        li:nth-child(2n) {
            background-color: #ECECEC;
        }
    }
}

.list-points {
    .header {
        @extend .list-header;
    }
    
    .content {
        @extend .list-content;

        li::before {
            content: "\25AA";
            color: $header-text-color;
            font-weight: bold;
            display: inline-block;
            width: 1em; // space
            margin-left: -1em; // space
        }
    }
}